{%extends 'all-projects/base.html'%}

{% block content %}

<div class="profile">
    
<div class="container">

  <div class="row">
      {% for prof in profile%}
    <h2 class="text-center">{{prof.name}}</h2><br><br>
    <center><img src="{{ prof.picture_Main_pic.url }}" style="border-radius:15px;" class="pic-responsive pic" alt="Picture" width="400" height="400"><br></center>
    
    <h2 class="text-center">{{prof.name}}</h2><br><br>
    <h3 class="text-center">{{prof.bio}}</h3><br>
    <div class="box-bl">
        <center><a style="background-color:azure; border-radius:10%" href="https://www.bitrix24.com/tools/tasks_and_projects/?gclid=EAIaIQobChMIoK7zvfS14QIVNDPTCh0POw8qEAAYASAAEgLd2vD_BwE" data-slug="project-website" class="js-visit-site bt-default green-fill" target="_blank" rel="noopener nofollow">Visit Site</a></center>

    </div> 
    {% endfor %} 
    
  </div>
</div>
</div>

{% endblock %}



