{%extends 'all-pictures/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if categories%}
    <h2>Found {{ categories|length }} of searched term {{message}}</h2><br> 
    {% else %}
    <h2> Found 0 categories for the search term {{message}}</h2> 
    {% endif %}

  </div>

  <div class="row">

  {% if categories %}
    {% for picture in categories %}
      <div class="col-sm-6 col-md-3 search text-center" >
          <h1>{{picture.name}}</h1>
          
          <img src="{{ picture.picture_Main_pic.url }}" class="pic-responsive pic" alt="Picture" >
          <br><br><br>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}


