h3
{
  color: white;
  font-family:
}
.nav{
  background-color:white;
}
/* body{
   background-color:rgb(204, 102, 153); 
  
} */
.background{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_D6j-Dg1vihU3yViHe8Z0KQ8mTmlQBgjMh4P3VTg5cdvB9WKz");
  background-repeat: no-repeat;
  background-size:cover;
  background-origin: content-box;
}

.background h3{
  margin-right:12px;
  font-family:italic;
}

/* body h1{
  border-radius:15px;
  border:1px solid whitesmoke;
  /* margin-left:1000px;
  margin-right:1000px; 
  
} */
.sign p{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_D6j-Dg1vihU3yViHe8Z0KQ8mTmlQBgjMh4P3VTg5cdvB9WKz");
  background-repeat: no-repeat;
  background-size:cover;
  background-origin: content-box;
}
.panel{
  border-radius:20px;
  border:1px solid whitesmoke;
}
div h3{
 
  padding:20px; 
}

.sign{
  border-radius:15px;
  border:1px solid black;
  margin-left:-30px;
  color:black;
}
.style{
margin-right:700px;
margin-left:700px;
}
.profile1{
  border-radius:15px;
  /* border:1px solid whitesmoke;  */
}
.profile1 h3{
  margin-left:40px;
}
.profile1 img{
  border-radius: 50%;
  margin-top:-30px;
}
.profile1 h2{
  color:whitesmoke;
}
.rating{
  color:orange;
}
.detail{
  margin-left:20px;
}
.profile{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_D6j-Dg1vihU3yViHe8Z0KQ8mTmlQBgjMh4P3VTg5cdvB9WKz");
  background-repeat: no-repeat;
  background-size:cover;
  background-origin: content-box;
}

.profile h2{
color:whitesmoke;
}
.profile h1{
  margin-left:400px;
  margin-right:400px;
  color:black;
}
/* .profile a img{
align-items: flex-end;

} */

/* .profile img{
  align-items: flex-end;
  
  } */

.posts{
  color:whitesmoke;
}
.addpost{
  
}
.comment{
  float:left;
  margin-left:120px;
  
}
.comment h3{
  float:left;
  color:black;
}
.comment img{
  float:left 20px;
  padding-left:5px;
  border-radius:30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  
}
.comment a{
  float:left 50px;
 
  border-radius:20px;
}
h3{
  color:whitesmoke;
}
.details a{
 color:whitesmoke;
}
.click{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_D6j-Dg1vihU3yViHe8Z0KQ8mTmlQBgjMh4P3VTg5cdvB9WKz");
  background-repeat: no-repeat;
  background-size:cover;
  background-origin: content-box;
  border-radius:20px;
  float:center;
}
.click img {
  float:left;
  border-radius:15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
 
}
.click h2 h3 {
  color:whitesmoke;
}
.click h3 {
  color:whitesmoke;
}
 h2 {
  color:whitesmoke;
  /* float:left ; */
  
}
h3 {
  color:whitesmoke;

  /* float:left ; */
}
.login form{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_D6j-Dg1vihU3yViHe8Z0KQ8mTmlQBgjMh4P3VTg5cdvB9WKz");
  background-repeat: no-repeat;
  background-size:cover;
  background-origin: content-box;
}
.search h1{
  color:whitesmoke;
  
}
.search img{
  border-radius:15px;
}
.search{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_D6j-Dg1vihU3yViHe8Z0KQ8mTmlQBgjMh4P3VTg5cdvB9WKz");
  background-repeat: no-repeat;
  background-size:cover;
  background-origin: content-box;
  text-align:center;
}
