h1
{
  color: white;
}
body{
  background-color:rgb(204, 102, 153);
}
body h1{
  border-radius:15px;
  border:1px solid whitesmoke;
  /* margin-left:1000px;
  margin-right:1000px; */
  
}
.sign{
  background-color:rgb(204, 102, 153);
}
.panel{
  border-radius:20px;
  border:1px solid whitesmoke;
}
div h3{
  background-color:rgb(204, 102, 153);
  padding:20px; 
}

.sign{
  border-radius:15px;
  border:1px solid whitesmoke;
  margin-left:-30px;
  color:whitesmoke;
}
.profile1{
  border-radius:15px;
  /* border:1px solid whitesmoke;  */
  margin-left:400px;
  margin-right:400px; 
 
}
.profile1 h3{
  margin-left:40px;
 
 
}
.profile h2{
color:whitesmoke;
}
.profile h1{
  margin-left:400px;
  margin-right:400px;
  color:whitesmoke;
}
.profile a img{
align-items: flex-end;
}

.posts{
  color:whitesmoke;
}
.addpost{
  background-color:rgb(204, 102, 153);
}
.comment{
  float:left;
}
.comment img{
  float:left 20px;
  padding-left:10px;
  border-radius:30px;
}
.comment a{
  float:left 50px;
 
  border-radius:20px;
}
h3{
  color:whitesmoke;
}
.details a{
 color:whitesmoke;
}
