{%extends 'all-pictures/base.html'%}
<!-- <h1> Instagram Clone- Welcome</h1> -->
{% block content %}
<div class="row">
        {% for prof in profile %}
        <div class="profile">
        
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  
                    <h1 class='text-center'><br><i class="fa fa-instagram" style="font-size:48px;color:yellow"></i><br><br>Instagram Profile</h1>
                    
                    <h2 class="text-center"> {{ picture.name }}</h2><br>     
                    
                           
                </div>
              </div>
        <center><img src="{{ prof.picture_Main_pic.url }}" style="border-radius:15px;" class="pic-responsive pic" alt="Picture" width="400" height="400"></center>
    <h2 class="text-center">{{prof.name}}</h2>
    {% endfor %}
  </div>
  <hr>
{% for picture in pictures %}
  
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
      
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><br>
        
        <a  href="picture/{{picture.id}}" href="pictures.html"><img src="{{ picture.picture_Main_pic.url }}" style="border-radius:15px;" class="pic-responsive pic" alt="Picture" width="400" height="400"><br><br><br>
                
      </div>
      

      {% empty %}
      
      {% endfor %}

      {% endblock %}


      