{%extends 'all-pictures/base.html'%}
<!-- <h1> Instagram Clone- Welcome</h1> -->
{% block content %}
<div class="row">
        {% for prof in profile %}
             <div class="profile">
        
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  
                    <h1 class='text-center'><br><i class="fa fa-instagram" style="font-size:48px;color:yellow"></i><br><br>Instagram Profile</h1>
                    <h2 class="text-center">{{prof.name}}</h2>
                    
                    <h3 class="text-center"> {{ picture.name }}</h3><br>
                    
                                
                </div>
                <div class="posts">
                  <div class="col-md-5 text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span class="username">{{ profile.name }}</span> 
                            </li>
                            {% if profile.username == user.username %}
                            <li class="list-inline-item">
                                <a class="btn btn-edit" href="{% url 'edit_profile' %}">Edit Profile</a>
                            </li>
                            <li class="list-inline-item">
                                <a data-toggle="modal" data-target="#settings"><i class="fa fa-cog fa-2x"></i></a>
                            </li>
                            {% else %}
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-primary">Follow</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-primary">Followers</a>
                            </li>
                           
                    
                            {% endif %}
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span class="font-weight-bold">{{pictures|length}} </span> Posts |
                            </li>
                            <li class="list-inline-item">
                                <span class="font-weight-bold">0 </span> Followers |
                            </li>
                            <li class="list-inline-item">
                                <span class="font-weight-bold">0 </span> Following
                            </li>
                        </ul>
                        
                        {% if profile.username == user.username %}
                        <p class="font3">{{profile_details.bio|safe}}</p>
                        <p><a href="{% url 'upload_image' %}">Add Image</a></p>
                        {% endif %}
                        
                    </div>
                  </div>
                  <center><img src="{{ prof.picture_Main_pic.url }}" style="border-radius:15px;" class="pic-responsive pic" alt="Picture" width="400" height="400"></center>
              </div>
        
        

  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>      -->

    {% endfor %}
  </div>
  <hr>
  <hr>
  <h3>Picture Post</h3>
{% for picture in pictures %}

    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
      <div class="comment">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><br>
        
        <a  href="picture/{{picture.id}}" href="pictures.html"><img src="{{ picture.picture_Main_pic.url }}" style="border-radius:15px;" class="pic-responsive pic" alt="Picture" width="400" height="400"><br><br><br>
          
            <a href="#" class="btn btn-primary">Like</a>
          <br><br>
          
            <a href="#" class="btn btn-primary">Comment</a>
               
      </div>
    </div>
    

      {% empty %}
      
      {% endfor %}
      
      {% endblock %}
     
      
      